h1 {
    text-align: center;
}
/* desktop devices */
@media (min-width: 992px){
    /* .col-lg-1, .col-lg-2,.col-lg-3 {
        float: left;
        
    } */
    .container{
        width: 100%;
    }
    .chicken{
        border-color: red;
        border-width: 5px;
        background-color: pink;
        float: right;
        
        
    }

    .beef{
        border-color: black solid;
        background-color: red;
        float: right;
        
        
    }

    .sushi{
        border-color: black solid;
        background-color: yellow;
        float: right;
        
    }

    .col{
        width: 33%;
        border: black 1px solid;
        float: left;
        margin: 2px;
        background-color: grey;

    }    
}
/* tablets */
@media (min-width: 768px) and (max-width:991px){
    .container{
        width: 100%;
    }

    .chicken{
        border-color: black solid;
        background-color: pink;
        float: right;
        
        
    }
    .beef{
        border-color: black solid;
        background-color: red;
        float: right;
        
        
    }

    .sushi{
        border-color: black solid;
        background-color: yellow;
        float: right;
        
    }
    .col{
        width: 60%;
        border: black 1px solid;
        float: left;
        margin: 3px;
        background-color: grey;

}
/* modbile */
@media (min-width:767px){
    .container{
        width: 100%;
    }

    .chicken{
        border-color: black solid;
        background-color: pink;
        float: right;
        
        
    }

    .beef{
        border-color: black solid;
        background-color: red;
        float: right;
        
        
    }
    .sushi{
        border-color: black solid;
        background-color: yellow;
        float: right;
        
        
    }

    

    .col{
        width: 100%;
        border: black 1px solid;
        float: left;
        margin: 3px;
        background-color: grey;
   
} 